body {
  background-color: rgb(245, 245, 245);
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}
input {
  width: 41%;
  height: 31%;
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
  height: 141px;
  align-items: flex-end;
  color: #003569;

}
.header {
  display: flex;
  justify-content: flex-start;
  height: 77px;
  width: 100%;
  border-bottom: solid;
  border-width: thin;
  border-color: rgb(200,200,200);
  background-color: white;
}
.instaLogo {
  width: 19%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.fa.fa-camera-retro {
  font-size: 46px;
}

.insta {
  font-size: 1.8em;
  width: 50%;
}

.input{
  width: 40.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contenairIcon {
  width: 15%;
  display: flex;
  justify-content: center;
}
.icons {
  font-size: 1.5em;
  word-spacing: 4vh;
  width: 40.5%;
  justify-content: center;
  display: flex;
  align-items: center;
}


.avatar {
  height: 100%;
  display: flex;
  padding-right: 8%;
  align-items: center;
}
.perfil{
  background-color: #fafafa;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 152px;
  width: 152px;
}
.pseudo {
 width: 100%;
 display: flex;
 height: 31%;
 align-items: center;
}
.folow {
  width: 92%;
  height: 70px;
  color: #3897f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abonne {
  border: 1px solid #3897f0;
  border-radius: 3px;
  height: 35px;
  display: flex;
  align-items: center;
  width: 73px;
  justify-content: center;
}
.contenairProfil{
  width: 100%;
  height: 49vh;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.contpesudo{
  width: 34%;
}
.sidep{
  border: 1px solid #3897f0;
  height: 32px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-left: 10px;
}
.chiffre{
  display: flex;
  justify-content: space-around;
}
/*IMAGE*/
.contenair {
  width: 75%;
  height: 100%;
  margin-left: 26vh;
}
.img {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-around;
  margin-top: 5vh;
}
.o {
	height: 49vh;
	width: 30%;
  overflow: hidden;
}

.tailleImg {
  width: 100%;
  height: 100%;
}
.footer {
  display: flex;
  width: 74%;
  font-size: 14px;
  color: #003569;

}
.contfooter {
 display: flex;
 justify-content: flex-start;
 width: 100%;
 font-size: 14px;
 color: #003569;
}
.textFooter {
  margin-left: 10px;
}
@media screen and (max-width: 640px) {
  .img {
    flex-direction: column;
  }
  .contenair {
    margin-top: 98px;
  }
  .o {
    width: 68%;
    margin-top: 35PX;
  }
}
